GameAClient/Library/
GameAClient/Temp/
/GameAClient/Assembly-CSharp.csproj
/GameAClient/Assembly-CSharp-Editor.csproj
/GameAClient/GameAClient.sln
/GameAClient/.vs
/GameAClient/obj
GameAClient/GameAClient.CSharp.Editor.csproj
GameAClient/GameAClient.CSharp.csproj
GameAClient/GameAClient.v12.suo
*.userprefs
*.mdb
*.mdb.meta
GameAClient/Assets/LocalTest
GameAClient/Assets/LocalTest.meta
GameAClient/GameAClient.CSharp.csproj.user
GameAClient/GameAClient.csproj
GameAClient/GameAClient.Editor.csproj
Build
JoyYou
GameAClient/Assets/BuildingTmp
BackupBundles
BuildingTmp.meta
GameAClient/bfd.StandaloneOSXIntel64
GameAClient/bfd.StandaloneWindows
StreamingAssets.meta
GameAClient/Assets/StreamingAssets
ABResources
GameAClient/Assets/Test.meta
GameAClient/Assets/ThirdParty/Haste/Editor/InternalResources/Recommendations.asset
GameAClient/Assets/ThirdParty/Haste/Editor/InternalResources/Recommendations.asset.meta
AssetBundles
GameAClient/.idea
Assembly-CSharp-Editor-firstpass.csproj
GameAClient/Assets/Plugins/Editor/
GameAClient/Assets/Plugins/Editor.meta
GameAClient/GameAClient.CSharp.Editor.Plugins.csproj
*.csproj
*.user
GameAClient/iOSProject
*.apk
*.app
ProjectVersion.txt
*.pdb
*.pdb.meta
