<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GameLife.Soy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 必选 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<!-- 可选 -->
	<uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
	<uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
	<uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
	<uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 蓝牙分享所需的权限 -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="com.GameLife.Soy.JoyNativeTool.JoyUnityPlayerNativeActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="joy" android:host="start.app"/>

            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
        </activity>
        <!-- native toolkit -->
        <activity android:name="com.secondfury.nativetoolkit.MainActivity" android:configChanges="orientation|screenSize" />
        <activity android:name="com.secondfury.nativetoolkit.LocalNotificationResult" />
        <receiver android:name="com.secondfury.nativetoolkit.LocalNotification" />
        <!-- end native toolkit -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
			
            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter android:priority="1000" >
                <data android:scheme="tencent1105166877" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <data android:scheme="QQ41DF821D" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
		 	<!-- 新浪回调 -->
            <intent-filter>
				<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
		
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" 
     		android:screenOrientation="portrait" /> 

     		<!-- 监听通知点击或者忽略处理的广播 -->
			<receiver
			    android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
			    android:exported="false" >
			</receiver>

			<!-- 监听开机运行、网络连接变化、卸载的广播 -->
			<receiver
			    android:name="com.umeng.message.SystemReceiver"
			    android:process=":push" >
			    <intent-filter>
			        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			    </intent-filter>
			    <intent-filter>
			        <action android:name="android.intent.action.PACKAGE_REMOVED" />
			        <data android:scheme="package" />
			    </intent-filter>
			</receiver>

			<!-- 监听消息到达的广播 -->
			<receiver
			    android:name="com.umeng.message.MessageReceiver"
			     android:exported="false" 
			   android:process=":push" >
			    <intent-filter>
			        <action android:name="org.agoo.android.intent.action.RECEIVE" />
			    </intent-filter>
			</receiver>

			<!-- 监听宿主选举的广播 -->
			<receiver
			    android:name="com.umeng.message.ElectionReceiver"  
			     android:process=":push" >
			    <intent-filter>
			        <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
			        <category android:name="umeng" />
			    </intent-filter>
			</receiver>

			<!-- 监听注册的广播 -->
			<!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
			<receiver
			    android:name="com.umeng.message.RegistrationReceiver"
			    android:exported="false" >
			    <intent-filter>
			        <action android:name="com.GameLife.Soy.intent.action.COMMAND" />
			    </intent-filter>
			</receiver>
			<receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
			</receiver>
			<!-- Umeng的长连服务，用来建立推送的长连接的 -->
			<!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
			<service
			    android:name="com.umeng.message.UmengService"
			    android:label="PushService"
			    android:exported="true"
			    android:process=":push" >
			    <intent-filter>
			        <action android:name="com.GameLife.Soy.intent.action.START" />
			    </intent-filter>
			    <intent-filter>
			        <action android:name="com.GameLife.Soy.intent.action.COCKROACH" />
			    </intent-filter>
			    <intent-filter>
			        <action android:name="org.agoo.android.intent.action.PING_V4" />
			    <category android:name="umeng" />
			    </intent-filter>
			</service>

			<!-- Umeng的消息接收服务 -->
			<service android:name="com.umeng.message.UmengIntentService" 
			    android:process=":push" />

			<!-- Umeng的消息路由服务 -->
			<service 
			    android:name="com.umeng.message.UmengMessageIntentReceiverService"
			    android:process=":push" 
			    android:exported="true" >
			    <intent-filter>
			        <action android:name="org.android.agoo.client.MessageReceiverService" />
			    </intent-filter>
			    <intent-filter>
			        <action android:name="org.android.agoo.client.ElectionReceiverService" />
			    </intent-filter>
			</service>

			<!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
			<service android:name="com.umeng.message.UmengMessageCallbackHandlerService" 
			    android:exported="false">
			    <intent-filter>
			        <action android:name="com.umeng.messge.registercallback.action" />
			    </intent-filter>
			    <intent-filter>
			        <action android:name="com.umeng.message.unregistercallback.action"/>
			    </intent-filter>
			    <intent-filter>
			        <action android:name="com.umeng.message.message.handler.action"/>
			    </intent-filter>
			    <intent-filter>
			        <action android:name="com.umeng.message.autoupdate.handler.action"/>
			    </intent-filter>
			</service>

			<!-- V1.3.0添加的service，负责下载通知的资源 -->
			<service android:name="com.umeng.message.UmengDownloadResourceService" />

			<!-- V2.5.0添加的Service，用于本地通知 -->
			<!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
			<service android:name="com.umeng.message.local.UmengLocalNotificationService" 
			android:exported="false" />

			<meta-data
			    android:name="UMENG_APPKEY"
			    android:value="5779c8d167e58e5d37003c26" >
			</meta-data>
			<meta-data
			    android:name="UMENG_MESSAGE_SECRET"
			    android:value="0c19650dcc69975a411bbd8bf190e228" >
			</meta-data>
			<meta-data
			    android:name="UMENG_CHANNEL"
			    android:value="default" >
			</meta-data>
    </application>

</manifest>